.main-box {
  margin: 8rem 2rem 1rem 2rem;
}
.check-list-item {
  padding: 0.5rem 2rem;
}
.check-list-item:hover {
  opacity: 0.6;
  color: inherit;
}
.main-product {
  margin: auto;
}
.grid-three {
  gap: 5rem;
}
/* card badge color */
.card-badge {
  background-color: black;
}
.card-comp-img {
  height: 18rem;
}

/* cancle badge */
.right-badge {
  right: 0;
  background-color: transparent;
  box-shadow: none;
  color: black;
  font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {
  .main-box {
    margin: 6rem 0rem;
  }
  .grid-three {
    gap: 1rem 0.4rem;
  }
}
