.main-box {
  margin: 8rem 2rem 1rem 2rem;
  display: flex;
}
.check-list-item {
  padding: 0.5rem 2rem;
}
.check-list-item:hover {
  opacity: 0.6;
  color: inherit;
}
.main-product {
  margin: auto;
}
.grid-three {
  gap: 5rem;
}
.card-comp-img {
  height: 18rem;
}
@media only screen and (max-width: 600px) {
  .main-box {
    margin: 5rem 0rem;
  }
  .grid-three {
    gap: 1rem 0.4rem;
  }
}
